<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | نمونه کارهای مهیار شریفی</title>

    @*@RenderSection("SEO",required:true);*@

    <link href="~/css/skel.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/style-xlarge.css" rel="stylesheet" />

</head>

<body>

    <header id="header">
        <a href="#" class="image avatar">
            <img src="~/images/bg.jpg" alt="" />
        </a>
        <h1>
            <strong>نمونه کار من</strong>، اولین پروژه از دوره <br />
            Asp.net Core Mvc & Api است.<br />
            که توسط <a href="http://html5up.net"> مهیار شریفی </a> تهیه شده.
        </h1>

        <a asp-controller="Home" asp-action="Index" style="margin-left: 10px;">صفحه اصلی</a>
        <a asp-controller="Home" asp-action="Contact">تماس با من</a>

    </header>

    <div id="main">
        @RenderBody()
    </div>

    <footer id="footer">
        <ul class="icons">
            <li>
                <a href="#" class="icon fa-twitter">
                    <span class="label">Twitter</span>
                </a>
            </li>
            <li>
                <a href="#" class="icon fa-github">
                    <span class="label">Github</span>
                </a>
            </li>
            <li>
                <a href="#" class="icon fa-dribbble">
                    <span class="label">Dribbble</span>
                </a>
            </li>
            <li>
                <a href="#" class="icon fa-envelope-o">
                    <span class="label">Email</span>
                </a>
            </li>
        </ul>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/init.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
